{% extends 'base.html.twig' %}

{% block title %}Menu {{ menu.name }}{% endblock %}

{% block body %}
  {{ menu.name }}


    <div>

      {{ form_start(form) }}
      {{ form_widget(form) }}
      {{ form_end(form) }}
    </div>

    <div>
      total : {{ get_total_menu_like(menu.id) }}
    </div>

    <div>
      moyenne : {{ get_average_menu_like(menu.id) }}
    </div>
{% endblock %}
