{% extends 'base.html.twig' %}

{% block title %}Menu {{ menu.name }}{% endblock %}

{% block body %}
  {{ menu.name }}


    <div>
      {{ form_start(form) }}
      {{ form_widget(form) }}
      {{ form_end(form) }}
    </div>
{% endblock %}
